.button {
  padding: 14px 21px;
  border-radius: 0.5rem;
  cursor: pointer;
  min-width: 150px;
  z-index: 100;
  position: relative;
}
.button.matrix {
  background-color: var(--purple-400);
  transition: 0.4s;
  color: white;
}
.button.matrix:hover {
  filter: brightness(0.8);
}
.button.transparent {
  background-color: transparent;
  color: var(--white-100);
}
