@import "./css-reset.css";

:root {
  --white-100: #ffffff;
  --dark-900: #09090a;
  --dark-600: #808090;
  --purple-400: #5d5dff;
  --green-white-100: #34d399;
}

body {
  background: var(--dark-900);
}

/* my own classes */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
